.auth-success {
  font-size: 1.6rem;
  color: #fff;
  background-color: green;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 7px 1rem;
  border-radius: 5px;
}

.auth-err {
  color: red;
}
